#mainNavbar {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1.4rem;
  font-weight: var(--fw--100);
  .navbar-brand {
    font-size: 1.5rem;
    color: var(--clr--navbar-red);
  }
  .nav-link {
    color: var(--clr--white);
    &:hover {
      color: var(--clr--navbar-red);
    }
  }
}
.navbar.scrolled {
  background-color: var(--clr--navbar-purple);
  transition: background 800ms;
}
